.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 10rem auto;
    padding: 0 2rem;
}

.randomLink {
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    outline: none;
}

.searchInput {
    margin: 0 1rem;
    padding: 0.7rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 25rem;
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #46ef46;
}

@media(max-width:500px) {
    .searchInput {
        width: auto;
    }
}

.submitInput {
    display: none;
}

.contents {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 2rem;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    outline: none;
}

.content:hover {
    border: 1px solid #46ef46;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}